.burger-menu {
	display: none;
	position: fixed;
	top: 16px;
	left: 16px;
	z-index: 1000;
}

@media (max-width: 768px) {
	.burger-menu {
		display: block;
	}
}

.drawer-nav {
	margin-top: 30px;
}

.drawer-nav .nav-link {
	display: block;
	padding: 12px 20px;
	text-decoration: none;
	color: #ffa500;
	font-weight: 800;
	border-radius: 8px;
	transition: color 0.3s ease, background-color 0.3s ease;
}

.drawer-nav .nav-link.active {
	background-color: rgba(255, 165, 0, 1);
	color: #0000cd;
}
