.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
	margin-top: 15px;
	text-align: center;
	background-color: rgba(255, 255, 0, 0.6);
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.title {
	font-size: 2rem;
	color: #191970;
	margin-bottom: 10px;
}

.text {
	font-size: 1.2rem;
	color: #191970;
	margin-bottom: 20px;
}

.link {
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	color: #0000cd;
	background-color: rgba(255, 165, 0, 0.7);
	padding: 10px 20px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease, transform 0.2s ease;
}
